.header__section {
  padding-left: 40px;
  padding-right: 40px;
  font-family: $secondaryFontFamily, sans-serif;
}

.header__top-block {
  background-color: $primaryDarkBackgroundColor;
  padding-top: 5px;
  padding-bottom: 5px;
    font-size: 12px;
    line-height: 1.25;
}

.header__top-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top-item {
  display: flex;
    justify-content: space-between;
    align-items: center;
  font-family: $secondaryFontFamily;
  font-size: 12px; 
  line-height: 1.25;
  color: $primaryLightTextColor;
}

.header__top-block-icon {
  margin-right: 4px;
}

.header__phone {
  color: $primaryLightTextColor;
  display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__bottom-block {
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 1.15;
}

.header__navigation-link {
  color: $primaryDarkTextColor;
  display: inline-block;
  padding-top: 17px;
  padding-bottom: 17px;
}

.header__navigation-link:not(:last-child) {
  margin-right: 36px;
}

.header__logo {
  display: inline-block;
    padding-top: 17px;
    padding-bottom: 17px;
}

.header__menu {
  display: flex;
}

.header__menu-icon:not(:last-child) {
  margin-right: 40px;
}

// Classses for main
.hero {
  position: relative;
  margin: 0 auto;
  height: 609px;
  max-width: 1440px;
  background-image: url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-size: 1440px 609px;
  background-position: center;
  overflow: hidden;
}

.review-block {
  
  background-color: #F7FAFE;
  position: absolute;
  top: 128px;
  right: 114px;
  width: 522px;
  height: 340px;
  padding: 40px 60px;
}

.review {
  display: flex;
    flex-direction: column;
    align-items: center;
}

.review__text {
  font-family: $primaryFontFamily;
  font-size: 16px;
  text-align: center;
  margin-bottom: 24px;
}

.review__foto {
  margin-bottom: 8px;
}

.review__rating {
  margin-bottom: 16px;
}
.review__user-name {
  font-family: $primaryFontFamily;
  font-size: 12px;
  line-height: 1.7;
  color: #161D25;
}
.review__user-country {
  font-family: $primaryFontFamily;
  font-size: 12px;
  line-height: 1.7;
  color: #97A3AA;
}

.background-first {
  position: absolute;
  top: 198px;
  left: -381px;
  width: 2495px;
  height: 699px;
}

.background-second {
  position: absolute;
  top: 620px;
  z-index: 1;
}

.background-second-light {
  position: absolute;
  top: 730px;
  z-index: 3;
}

.features {
  position: relative;
  height: 326px;
  background-color: $primaryDarkBackgroundColor;
  z-index: 2;
  padding: 43px 90px 44px 90px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  
}

.features-item {
  display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: calc(100%/3);
    color: $primaryLightTextColor;
    padding-left: 46px;
    padding-right: 46px;
}

.features-item__title {
  margin-top: 12px;
  font-size: 28px;
  line-height: 1.69;
  font-weight: 500;
}

.features-item__text {
  font-weight: 500;
    font-size: 14px;
    line-height: 1.69;
  text-align: center;
  margin-bottom: 10px;
}

.features-item__more-details {
  display: flex;
  align-items: center;
}

.features-item__more-details-text {
  font-weight: 500;
    font-size: 10px;
    line-height: 1.3;
    margin-right: 12px;
}

.mission {
  display: flex;
  padding: 40px 74px 47px 80px;
}

.key-messages {
  display: flex;
  padding: 47px 74px 92px 80px;
}

.mission__block {
  margin-right: 138px;
}